.header{
  width: 100%;
  display: flex;
  justify-content: center;
}
.title{
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.3px;
  color: #F1C40F;
  padding-top: 51px;
}
.back{
  padding-top: 46px;
}

